---
Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-member-init,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion

WarningsAsErrors: ""
HeaderFilterRegex: 'format_utils\.hpp'
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.VariableCase
    value:           snake_case
  - key:             readability-identifier-naming.ParameterCase
    value:           snake_case
...
