name: Ubuntu CI (Presets)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Ubuntu - ${{ matrix.preset }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        preset: [gcc-release, clang-release-linux, tidy-linux]

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y ninja-build software-properties-common wget

    - name: Install GCC 14
      if: matrix.preset == 'gcc-release'
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
        sudo apt-get update
        sudo apt-get install -y gcc-14 g++-14
        echo "CC=gcc-14" >> $GITHUB_ENV
        echo "CXX=g++-14" >> $GITHUB_ENV

    - name: Install Clang 19
      if: matrix.preset == 'clang-release-linux' || matrix.preset == 'tidy-linux'
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 19
        sudo apt-get install -y clang-tidy-19 libc++-19-dev libc++abi-19-dev
        sudo ln -sf /usr/bin/clang-tidy-19 /usr/bin/clang-tidy
        echo "CC=clang-19" >> $GITHUB_ENV
        echo "CXX=clang++-19" >> $GITHUB_ENV

    - name: Configure CMake
      run: cmake --preset ${{ matrix.preset }} -DFMTU_ENABLE_JSON=ON -DFMTU_ENABLE_YAML=ON -DFMTU_ENABLE_TOML=ON

    - name: Build
      run: cmake --build --preset ${{ matrix.preset }}

    - name: Test
      if: matrix.preset != 'tidy-linux'
      run: ctest --preset ${{ matrix.preset }} --output-on-failure
